.input-main-style {
  padding: 7px;
}
.if-txt {
  font-weight: 500;
  color: rgb(88, 86, 86);
  font-size: 0.9rem;
  margin-bottom: 5px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.if-input {
  padding: 20px 12px;
  height: 20px;
  min-width: 200px;
  width: 280px;
  border: none;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 30px;
  color: grey;
}
.if-input:focus {
  outline: none;
  border: 1px solid lightgrey;
  background-color: white;
  color: black;
}
/* .if-input-err{
    padding: 8px 12px;
    height: 20px;
    min-width: 200px;
    width: 280px;
    border: 1px solid red;
    background-color: #F5F6FA;
    border-radius: 30px;
    color: grey;
    outline: none;
}
.if-input-err:focus{
    outline: none;
    border: 1px solid red;
    background-color: white;
    color: black;
} */
.err-txt {
  font-size: 0.8rem;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 0px;
  color: red;
}
