.main_container_login {
  background-color: black;
  height: 100vh;
  overflow: hidden;
  display: flex;
}
.login-MainContainer {
  /* background-color: white; */
  background-color: #0a4e54;
  margin: auto;
  padding: 20px 25px;
  padding-bottom: 40px;
  min-width: 300px;
  width: 450px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  /* box-shadow: 0 0 12px 1px lightgray; */
  box-shadow: 0 0 12px 1px #0d565d;
}
.login-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 0;
}
.logoImg {
  padding: 3px;
  display: flex;
}
.logoTxt {
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.ErrMsg {
  color: red;
  font-size: 0.85rem;
  text-align: center;
  width: 100%;
  top: -8px;
  position: absolute;
}
.login-fieldTxt {
  font-size: 0.97rem;
  margin-bottom: 5px;
  /* color: #313131; */
  color: white;
}
.login-field {
  padding: 3px;
  margin-bottom: 14px;
}
.login-field.email {
  position: relative;
}
.login-field.pass {
  position: relative;
}
.login-input-label {
  padding: 0 10px;
  width: 100%;
  color: gray;
  border-radius: 5px;
  border: 1px solid lightgray;
  background-color: whitesmoke;
  outline: none;
}
.login-input {
  padding: 12px 10px;
  width: 100%;
  color: gray;
  border-radius: 5px;
  background-color: whitesmoke;
  outline: none;
}
.border {
  border: 1px solid lightgray;
}
.no-border {
  border: none;
}
.login-input:focus {
  outline: none;
  color: #313131;
  /* box-shadow: 0 0 3px 3px whitesmoke; */
}
.pass-eye {
  display: flex;
  align-items: center;
}
.pass-eye:hover {
  cursor: pointer;
  color: #454444;
}
.invalid_err {
  position: absolute;
  color: red;
  font-size: 0.8rem;
  top: 7px;
  right: 30px;
}
.loginbuttonDiv {
  margin-top: 20px;
  text-align: center;
  width: 100%;
  position: relative;
}
.loginbutton {
  padding: 12px 5px;
  margin: auto;
  width: 70%;
  margin-top: 15px;
  border-radius: 7px;
  color: white;
  font-weight: bold;
  border: 1px solid var(--primary-color);
  background-color: transparent;
  /* background-color: var(--primary-color); */
  transition: 0.5s ease-in-out;
}
.loginbutton:hover {
  cursor: pointer;
  background-color: var(--primary-color);
}
.login_fp {
  position: absolute;
  right: 15px;
  bottom: -20px;
}
.login_fp a {
  color: white;
  font-size: 0.8rem;
  text-decoration: underline;
}
